<h1>Specialities</h1>

<%= link_to "Add Speciality", new_speciality_path %>
<%= link_to "Back to Doctors", doctors_path %>

<table>
  <tr>
    <th>Speciality</th>
  </tr>
  <% @specialities.each do |speciality| %>
  <tr>
    <td><%= link_to speciality.speciality, edit_speciality_path(speciality) %></td>
  </tr>
  <% end %>
</table>